 .dws {
	position: absolute;
	top: 10%;
	left: 10%;
	
	transform: translate(-50%, -50%);
}
.butt {
	border: 3px solid #218294;
	font-size: 30px;
	color: #218294;
	text-decoration: none;
	text-transform: uppercase;
	width: 250px;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	font-family: Arial, sans-serif;
	position: relative;
	transition: .5s;
	overflow: hidden;
}
.butt::before,
.butt::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: #218294;
	top: 0;
	left: -100%;
	opacity: .5;
	transition: .3s;
	z-index: -1;
}
.butt::after {
 opacity: 1;
 transition-delay: .2s;
}
.butt:hover {
 color: #fff;
}
.butt:hover::before,
.butt:hover::after {
left: 0;
} 

body {
	background-color: #222;
  }


.loader span {
	background-color: #00FFFF;
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	box-shadow: 2px 2px #32CD32;
	margin: 3px;
	animation: load 1.2s ease-in-out infinite;
	transition: 1s all;
	opacity: 1;
}

.done {
	opacity: 0;
	visibility: hidden;
}

@keyframes load {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.loader {
	display: inline-block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.loader span:nth-child(2) {
	animation-delay: 0.25s;
}
.loader span:nth-child(3) {
	animation-delay: 0.55s;
}

#cont {
	position: fixed; /* or absolute */
top: 5%;
left: 50%;
transform: translate(-50%, -50%);
}

#cont2 {
	position: fixed; /* or absolute */
top: 50%;
left: 1%;
transform: translate(-50%, -50%);
}

#cont3 {
	position: fixed; /* or absolute */
top: 50%;
right: 1%;
transform: translate(-50%, -50%);
}

#cont4 {
	position: fixed; /* or absolute */
top: 95%;
right: 50%;
transform: translate(-50%, -50%);
}

#rectangle_1 {
	position: fixed; /* or absolute */
    top: 10%;
    right: 14%;
    width: 30%; 
    height: 300px; 
    background: #8d6e63; 
   }

#rectangle_2 {
	position: fixed; 
    top: 41%;
    right: 14%;
    width: 30%; 
    height: 300px; 
    background: #f44336; 
   }

#rectangle_3 {
	position: fixed; 
    top: 41%;
    right: 55%;
    width: 30%; 
    height: 300px; 
    background: #fc0; 
   }

#rectangle_4 {
	position: fixed; 
    top: 10%;
    right: 55%;
    width: 30%; 
    height: 300px; 
    background: #4db6ac; 
   }